body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  background: linear-gradient(rgba(193, 190, 185, 0.39), rgba(92, 91, 90, 0.39)),
    url("../public/weather.jpg") center/cover no-repeat;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
  top: -25px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}

.flex-item {
  flex: 1;
  min-width: 300px;
}

.card {
  border: 1px solid rgb(123, 119, 119);
  border-radius: 8px;
  padding: 16px;
  margin: 10px;
  width: 300px;
}

.blurred {
  filter: blur(5px);
}

.error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
  margin: 1rem 0;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  color: #777;
}

.nav-links ul li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.2rem;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #460897;
  display: block;
  margin: auto;
  transition: width 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #230052;
  border: 1px solid #230052;
  color: white;
  padding: 0.7rem 2rem;
  border-radius: 20px;
  align-items: center;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #460897;
  border-color: #460897;
}

input {
  margin: 1rem 0;
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.5rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

input:focus {
  outline: none;
  border-color: #230052;
}

h2 {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

.language-selector {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.language-button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #ddd;
  cursor: pointer;
  font-size: 16px;
  color: rgb(43, 42, 42);
}

.language-button:hover {
  background-color: #ccc;
}

.language-button.active {
  background-color: #230052;
  color: white;
}
